@using ProcCore.Business.Logic.TablesDescription
@using ProcCore.JqueryHelp
@using ProcCore.JqueryHelp.JQGridScript

@{
    _CodeHead Tab = new _CodeHead();
    _CodeSheet Tabd = new _CodeSheet();
}
@section IncludeScript{
    @Html.Partial("Manage/includeScript_Comm")
}
@section menu{
    @Html.Raw(Session["MenuHtmlString"].ToString())
}

<div class="@ViewBag.css_Edit_Master_CaptionCss">
    @Html.Lang("title")
</div>

<fieldset  class="tutorial">
    <legend title="" class="@ViewBag.css_Edit_Subtitle_CaptionCss">
        @Html.Lang("info")
    </legend>

    <legend class="inner">
    	<div class="down-list"><a href="~/Content/Doc/Md.html" target="new"><em>1</em>【基本資料管理】模特兒資料管理</a></div>
    	<div class="down-list"><a href="~/Content/Doc/Password.html" target="new"><em>2</em>【系統管理】變更密碼</a></div>
    </legend>

</fieldset>